$color_1: #87613d;
$color_2: #fff;
$color_3: #3b5998;
$color_4: #ff7d00;
$color_5: #ffc185;
$font-family_1: 'Dosis';
$font-family_2: 'Roboto', sans-serif;
$font-family_3: 'Roboto';
$background-color_1: rgba(255, 125, 0, 0.35);
$background-color_2: rgba(255, 125, 0, 0.65);
$background-color_3: rgba(0, 0, 0, 0.15);
$background-color_4: rgba(0, 0, 0, 0.35);
$background-color_5: #ff7d00;